* {
    text-decoration: none;
    color: black;
}






body {
    text-align: center;
}
.flip_bg {
        width: 20%;
        height: 30px;
        background-color: cadetblue;
        text-align:center;
        border-radius: 20px;
        position: relative;

    }
#flipButton {
        font-size: 20px;
        font-weight: 900;
    }
.stop_bg {
        width: 20%;
        height: 30px;
        height: 100%;
        background-color: rgb(160, 116, 95);
        text-align:center;
        border-radius: 20px;
        position: relative;
    }
#stopButton {
        font-size: 20px;
        font-weight: 900;
    }
@media (max-width:700px){
    .flip_bg {
        width: 20%;
        height: 30px;
        background-color: cadetblue;
        text-align:center;
        border-radius: 20px;
        position: relative;
        left:40%;
        bottom: 4px;
    }
    #flipButton {
        font-size: 20px;
        font-weight: 900;
    }
    .stop_bg {
        width: 20%;
        height: 30px;
        background-color: rgb(160, 116, 95);
        text-align:center;
        border-radius: 20px;
        position: relative;
        left:40%;
        top:5%;
    }
    #stopButton {
        font-size: 20px;
        font-weight: 900;
    }
}